// ==========================================
//  Footer.scss
// ==========================================

footer {
  color: #4d4d4d;
  font-size: rem-calc(14);
  padding: $column-gutter;
  text-align: center;

  .name-address {
    display: block;
  }

  @media #{$medium-up}{
    .name-address {
      display: inline;
    }
  }
}

.spacer {
  padding: 0 $gutter-split;
}
