// ==========================================
//  Header.scss
// ==========================================

header {
  
  background: url(../img/header-bkg.jpg) no-repeat center 0;
  background-size: cover;
  height: $header-height;

}