// ==========================================
//  Icons.scss
// ==========================================

.icon {
  background-repeat: no-repeat;
}

.icon-twitter {
  background-image: #{$icon-twitter-gray};

  &:hover {
    background-image: #{$icon-twitter};
  }
}

.icon-facebook {
  background-image: #{$icon-facebook-gray};

  &:hover {
    background-image: #{$icon-facebook};
  }
}

.icon-linkedin {
  background-image: #{$icon-linkedin-gray};

  &:hover {
    background-image: #{$icon-linkedin};    
  }
}