// ==========================================
//  SocialLink.scss
// ==========================================

.social-link {
  .icon {
    display:block;
    height: $social-link-size;
    width: $social-link-size;    
  }
}